/* *RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}


/* #region Columns */

.col_1 {
    width: calc(100% / 12 * 1);
}
.col_2 {
    width: calc(100% / 12 * 2);
}
.col_3 {
    width: calc(100% / 12 * 3);
}
.col_4 {
    width: calc(100% / 12 * 4);
    padding: 1rem;
}
.col_5 {
    width: calc(100% / 12 * 5);
}
.col_6 {
    width: calc(100% / 12 * 6);
}
.col_7 {
    width: calc(100% / 12 * 7);
}
.col_8 {
    width: calc(100% / 12 * 8);
}
.col_9 {
    width: calc(100% / 12 * 9);
}
.col_10 {
    width: calc(100% / 12 * 10);
}
.col_11 {
    width: calc(100% / 12 * 11);
}
.col_12 {
    width: calc(100% / 12 * 12);
}

/* #endregion Columns */

.row{
    display: flex;
    flex-wrap: wrap;
}

.d_flex{
    display: flex;
}

/* GENERICS */

img{
    width: 100%;
}

body{
    background-image: url(../img/cork.png);
    position: relative;
    
    
    
}

p{
    font-family: "Sometype Mono", "monospace";
    font-style: italic;

    flex-direction: column;
    gap: 0.5rem;
    .image_date{
        font-weight: 800;
        font-size: 0.9rem;
    }
    
}

/*! HEADER */
header{
    font-family: "Edu Tas Beginner", sans-serif;
    background-image: url('../img/wall.png');
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    justify-content: center;

}

/*! MAIN */

main{
    z-index: 99;
}

.card_container{
    margin: 2rem 0;
    
}

.card{
    background-color: white;
    padding: 1rem;
    position: relative;
    box-shadow: 2px 2px 2px #000000;
    
}

.card_description{
    padding: 1rem 0;
}

.pin{
    margin-top: -0.9rem;
    width: 10%;
    border: 0;
    position: absolute;
    top: 0%;
    right: 45%;
    
    
}

/*! OVERLAY */

.d_none{
    display: none;
}



.modal{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .card{
        margin-top: 2rem;
        transform: scale(0.8);
    }

    .card_image{
        img{
            width: 100%;

        }
    }

    .pin_container{
        display: none;
    }

    .modal_button{
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
    
    
    
}

/*************************************** TABLET **************************************/
@media screen and (max-width:790px) {
    /* UTILS */
    /*#region columns*/
    .col_md_1 {
        width: calc(100% / 12 * 1);
    }
    .col_md_2 {
        width: calc(100% / 12 * 2);
    }
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
    .col_md_4 {
        width: calc(100% / 12 * 4);
    }
    .col_md_5 {
        width: calc(100% / 12 * 5);
    }
    .col_md_6 {
        width: calc(100% / 12 * 6);
    }
    .col_md_7 {
        width: calc(100% / 12 * 7);
    }
    .col_md_8 {
        width: calc(100% / 12 * 8);
    }
    .col_md_9 {
        width: calc(100% / 12 * 9);
    }
    .col_md_10 {
        width: calc(100% / 12 * 10);
    }
    .col_md_11 {
        width: calc(100% / 12 * 11);
    }
    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

    /*#endregion columns*/
}



/*************************************** MOBILE **************************************/
@media screen and (max-width:540px) {
    /* UTILS */
    /*#region columns*/
    .col_sm_1 {
        width: calc(100% / 12 * 1);
    }
    .col_sm_2 {
        width: calc(100% / 12 * 2);
    }
    .col_sm_3 {
        width: calc(100% / 12 * 3);
    }
    .col_sm_4 {
        width: calc(100% / 12 * 4);
    }
    .col_sm_5 {
        width: calc(100% / 12 * 5);
    }
    .col_sm_6 {
        width: calc(100% / 12 * 6);
    }
    .col_sm_7 {
        width: calc(100% / 12 * 7);
    }
    .col_sm_8 {
        width: calc(100% / 12 * 8);
    }
    .col_sm_9 {
        width: calc(100% / 12 * 9);
    }
    .col_sm_10 {
        width: calc(100% / 12 * 10);
    }
    .col_sm_11 {
        width: calc(100% / 12 * 11);
    }
    .col_sm_12 {
        width: calc(100% / 12 * 12);
    }

    /*#endregion columns*/
    .modal{
        .card{

            transform: scale(0.8);
        }
    }
}

